@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<h3 style="color:#e8e6e3">Owners</h3>

<p>
    <a asp-action="register">Create New</a>
</p>
<table class="table" style="color:#e8e6e3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                </td>
                <td>
                    <form asp-action="confirmDelete" method="get" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                   
                    
            </tr>
        }
    </tbody>
</table>
